<div class="text-center">
  <h2>{{title}}</h2>
  <p>Created by {{User.userName}} on {{format_date createdAt}}</p>
  <p>{{{body}}}</p>

 <p>
    <span class="dollar-amount">{{Comments.User.username}}</span>
  </p>
  <p>
    {{Comments.body}}
  </p> 
</div>
